<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.applocker.applockmanager">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_applock"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_applock"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".SplashScreenActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatePinActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ConfirmPasswordActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.ListApplicationActivity" />
        <activity
            android:name=".activities.RequestPasswordActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".activities.AppList"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activities.SettingActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.EnterPasswordActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ConfirmChangePassword"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ChangeThemeActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.CreateBackupPassword"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ConfirmBackupPassword"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SecurityBackupPassword"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SecurityAppActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SecurityChangePassword"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SecurityOnLockApp"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".service.AppLockService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>